@import "/home/{user-name}/.cache/wal/colors-waybar.css";
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 30px;
  margin: 0 3px;
  padding: 0 4px;
  color: @foreground;
}

#waybar {
  min-height: 30px;
  background-color: @color0;
}

tooltip {
  background-color: @background;
  border: 1px solid @color7;
  border-radius: 3px;
  padding: 3px 6px;
}

tooltip label {
  color: @foreground;
}

#workspaces {
  padding: 0 4px;
  border-radius: 30px;
  border: 1px solid @color7;
}

#workspaces button {
  padding: 0 2px;
  border-radius: 100%;
}

#theme {
  padding: 0 6px;
  border-bottom: 2px solid @color8;
  color: @color8;
}

#clock {
  font-weight: bold;
  padding: 0 6px;
  color: @color7;
}

#battery {
  padding: 0 3px;
  border-bottom: 2px solid @color10;
  color: @color10;
}

#battery.charging {
  color: rgb(10, 226, 10);
  border-bottom: 2px solid rgb(10, 226, 10);
}

#cpu {
  color: @color9;
  border-bottom: 2px solid @color9;
}

#memory {
  color: @color11;
  border-bottom: 2px solid @color11;
}

#language {
  padding: 0 6px;
  border-bottom: 2px solid @color5;
  color: @color5;
}

#pulseaudio {
  padding: 0 6px;
  border-bottom: 2px solid @color6;
  color: @color6;
}

#backlight {
  padding: 0 6px;
  border-bottom: 2px solid @color3;
  color: @color3;
}

#network {
  padding: 0 6px;
  border-bottom: 2px solid @color4;
  color: @color4;
}

#bluetooth {
  padding: 0 6px;
  border-bottom: 2px solid @color4;
  color: @color4;
}

#custom-power {
  padding: 0 5px;
  color: @color7;
}
