window {
  border: 2px solid #444;
  border-radius: 12px;
  background-color: #1e1e2e;
}

#input {
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: #f8f8f2;
  background-color: #2e2e3e;
}

#entry {
  padding: 6px;
  margin: 2px 6px;
  border-radius: 8px;
}

#entry:selected {
  background-color: #44475a;
  color: #50fa7b;
}
